/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

:root {
    color-scheme: dark;
}
html, body { 
    height: 100%;
    background-color: #141414;
    color: rgb(242, 236, 236);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.h-max {
    height: calc(100% - 65px);
}

.small-form-field {
    @include mat.form-field-density(-5);
}

.small-table-buttons {
    @include mat.button-density(minimum);
}

.small-list {
    @include mat.list-density(-4);
}

.smallest-list {
    @include mat.list-density(-4);
}